.sidebar {
  position: fixed;
  height: 100%;
  background-color: lightgrey;
  color: white;
  font-family: sans-serif;
}

.sidebar-item {
  padding: 10px 20px;
}

.sidebar-item:hover {
  background-color: grey;
  cursor: pointer;
}

.credential-index {
  
}
