body {
  font-family: sans-serif;
}

.header-bar {
  display: flex;
  align-items: center;
  height: 50px;
}

.header-bar h1 {
  color: grey;
}

.header-bar strong {
  color: red;
}

#logo {
  width: 50px;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #9b9b9b;
  color: white;
  font-size: 15px;
}

.sidebar-item {
  padding: 10px 0 10px 10px;
  margin-left: 40px;
}

.sidebar-item:hover {
  background-color: #757575;
  cursor: pointer;
}

.sidebar-item.active {
  background-color: #757575;
}

.credential-index {
  position: fixed;
  height: 90%;
  width: 300px;
  overflow-y: scroll;
  left: 200px;
  border: 1px solid lightgrey;
}

.index-item {
  position: relative;
  padding: 10px;
  color: #4a4a4a;
  border-bottom: 1px solid lightgrey;
}

.index-item:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

.index-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
}

.index-username {
  font-size: 12px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.index-tag {
  background-color: #9b9b9b;
  color: white;
  padding: 3px;
  border-radius: 4px;
  margin-left: 7px;
  font-size: 10px;
}

.index-favicon {
  width: 15px;
  margin-right: 10px;
}

.index-title {
  margin: 0;
}

.arrow {
  position: absolute;
  right: 10px;
  top: 25px;
  color: grey;
}

.credential-detail {
  position: fixed;
  border: 1px solid lightgrey;
  left: 502px;
  height: 100%;
  width: 650px;
  padding: 40px;
}

.detail-content {
  display: flex;
  justify-content: space-between;
}

.detail-section {
  width: 300px;
  margin-top: 30px;
  font-size: 12px;
}

.detail-section-header {
  border-bottom: 2px solid lightgrey;
  font-weight: bold;
  color: #4a4a4a;
  padding-bottom: 5px;
}

.detail-section form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: grey;
}

.form-label input {
  color: #4a4a4a;
  font-size: 14px;
  margin-top: 2px;
}

.sharing-form input {
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 3px;
  margin: 5px 0 12px;
  font-size: 14px;
}
.sharing-form input[type="submit"] {
  background-color: #dbdbdb;
  width: 100px;
  text-align: center;
}

.sharing-form input[type="submit"]:hover {
  cursor: pointer;
}

.delete-button {
  background-color: #9b9b9b;
  border-radius: 7px;
  padding: 3px 5px;
  color: white;
  font-size: 13px;
  position: absolute;
  right: 40px;
}

.delete-button:hover {
  cursor: pointer;
}

.borrower {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.borrower i {
  font-size: 25px;
  margin-right: 10px;
  color: gray;
}
